* { margin: 0; padding: 0 }

body {
	background: rgb(234, 234, 234);
	text-align: center;
	margin: 50px;
}

#main>.imCt {
	margin: 10px;
	text-align: center;
	display: inline-block;
	background: transparent;
	border-radius: 10px;
	vertical-align: top;
	padding: 10px;
	border: 3px dashed #94EAFF;
}

#main>.imCt:nth-child(even) {
	border-color: #ffa1c3;
}

#main>.imCt>span {
	display: block;
	text-align: center;
	font-size: 8pt;
	font-family: monospace;
	margin-top: 10px;
}

#icon {
	display: inline-block;
	background-image: url(/icon.svg);
	background-size: 128px 128px;
	width: 128px; height: 128px;
	padding: 0;
	border-bottom: 5px dotted #ddd;
	margin-bottom: 30px;
}

#main>.imCt>img {
	display: block;
	margin: auto;
	background: transparent;
	min-width: 64px;
	min-height: 64px;
	max-width: 600px;
	max-height: 400px;
	object-fit: scale-down;
}
