:root {
	--L1: url('icon.svg');
	--D1: url('icon_dark.svg');
	--L2: rgb(234, 234, 234);
	--D2: rgb(35, 42, 55);
	--L3: #777;
	--D3: #adf;
	--L4: #223;
	--D4: #fff;
}

body { --icon: var(--L1); --bg-color: var(--L2);
--icon-bottom-color: var(--L3); --text-color: var(--L4)}
@media (prefers-color-scheme: dark) {
body { --icon: var(--D1); --bg-color: var(--D2);
--icon-bottom-color: var(--D3); --text-color: var(--D4)}}
body#lite {--icon: var(--L1); --bg-color: var(--L2);
--icon-bottom-color: var(--L3); --text-color: var(--L4)}
body#dark {--icon: var(--D1); --bg-color: var(--D2);
--icon-bottom-color: var(--D3); --text-color: var(--D4)}

* { margin: 0; padding: 0 }

body {
	background: var(--bg-color);
	text-align: center;
	margin: 50px;
}

#theme {position: fixed; top: 0; right: 10px; text-align: right; display: block}
#theme>input{display:none}
#theme>input+label{background: var(--bg-color); margin: 0; padding: 4px 2ch; cursor: pointer; min-width: 8ch;
	display: inline-block; font-size: 8pt; font-family: monospace; color: var(--text-color); vertical-align: top;
	border: 1px solid var(--icon-bottom-color); border-top: none; text-align: center; box-sizing: border-box;}
#theme>input+label:first-of-type{border-bottom-left-radius: 4px}
#theme>input+label:last-of-type{border-bottom-right-radius: 4px}
#theme>input+label:not(:first-of-type){border-left:none}
#theme>input:checked+label{background: var(--icon-bottom-color); color: var(--bg-color); }

#main>.imCt {
	margin: 10px;
	text-align: center;
	display: inline-block;
	background: transparent;
	border-radius: 10px;
	vertical-align: top;
	padding: 10px;
	border: 2px dashed #94EAFF;
}

#main>.imCt:nth-child(even) {
	border-color: #ffa1c3;
}

#main>.imCt>span {
	display: block;
	text-align: center;
	font-size: 8pt;
	font-family: monospace;
	margin-top: 10px;
	color: var(--text-color);
}

#icon {
	display: inline-block;
	background-image: var(--icon);
	background-size: 128px 128px;
	background-repeat: no-repeat;
	background-position: top left;
	width: 128px; height: 128px;
	padding: 0; padding-bottom: 5px;
	border-bottom: 3px dotted black;
	border-color: var(--icon-bottom-color);
	margin-bottom: 30px;
}

#main>.imCt img, #main>.imCt video {
	display: block;
	margin: auto;
	background: transparent;
	min-width: 64px;
	min-height: 64px;
	max-width: 600px;
	max-height: 400px;
	object-fit: scale-down;
}

